name: macOS Runner

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-14
    steps:
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: true
