name: Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - name: Upload bundle
        uses: nerdoza/action-simple-file-upload@v2
        with:
          secure: true
          host: tardis.lithio.fr
          user: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          src: test/gajim-*.dmg
          dest: ./macos/
      - name: "Deploy"
        uses: milanmk/actions-file-deployer@master
        with:
          remote-protocol: "ftp"
          remote-host: "tardis.lithio.fr"
          remote-user: ${{ secrets.ftp_user }}
          remote-password: ${{ secrets.ftp_password }}
          local-path: './test/'
          remote-path: "./macos/"
          sync: full
