name: Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - name: Upload bundle
        uses: nerdoza/action-simple-file-upload@v2
        with:
          secure: true
          host: tardis.lithio.fr
          user: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          src: test/gajim-*.dmg
          dest: ./macos/
      - name: Upload
        id: upload
        uses: kaven-universe/github-action-ftp-upload-file@v1
        with:
          host: tardis.lithio.fr
          port: 21
          user: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          secure: true
          file: "test/gajim-*.dmg"
          cwd: 'macos/'
