name: Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - name: Upload ftp
        uses: sebastianpopp/ftp-action@releases/v2
        with:
          host: tardis.lithio.fr
          user: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          localDir: "test"
          remoteDir: "macos"
