name: Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@v4
      - name: curl which
        run: "PATH=/opt/homebrew/opt/curl/bin:$PATH which curl"
      - name: curl version
        run: "PATH=/opt/homebrew/opt/curl/bin:$PATH curl --version"
      - name: Upload with curl
        run: "PATH=/opt/homebrew/opt/curl/bin:$PATH curl -T test/gajim-*.dmg --ssl-reqd ftp://${{ secrets.ftp_user }}:${{ secrets.ftp_password }}@tardis.lithio.fr/./macos/"
