name: Test

on:
  workflow_dispatch:

jobs:
  test:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - name: Upload artifact
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          log-level: verbose
          server: tardis.lithio.fr
          protocol: ftps
          username: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          server-dir: ./macos/
          local-dir: ./test/
          exclude: |
           **
           ! gajim-*.dmg
      - name: Upload bundle
        uses: nerdoza/action-simple-file-upload@v2
        with:
          user: ${{ secrets.ftp_user }}
          password: ${{ secrets.ftp_password }}
          host: tardis.lithio.fr
          src: gajim-source/gajim-*.dmg
          dest: ./macos/
